<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.positionG {
    margin-right: 2rem;
    margin-bottom: 2px;
=======
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.positionG {
    margin-right: 2rem;
    margin-bottom: 2px;
>>>>>>> e6cc6e5 (agrego controladores y servicios y las querys)
}