<<<<<<< HEAD
.tablaEntregaDelivery {
    background-color: rgba(165, 35, 38, 1);
}
.tablaEntregaDelivery-Header {
    color: rgba(255, 255, 255, 1);
}
.tablaEntregaDelivery-Header2 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tablaEntregaDelivery-Header3 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.iconosAlineacion {
    margin-right: 1px;
    padding-bottom: 2px;
=======
.tablaEntregaDelivery {
    background-color: rgba(165, 35, 38, 1);
}
.tablaEntregaDelivery-Header {
    color: rgba(255, 255, 255, 1);
}
.tablaEntregaDelivery-Header2 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tablaEntregaDelivery-Header3 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.iconosAlineacion {
    margin-right: 1px;
    padding-bottom: 2px;
>>>>>>> e6cc6e5 (agrego controladores y servicios y las querys)
}